:root {
  --primmary: #28379e;
  --secondary: #3f51b5;
  --secondaryHover: #5268e6;
  --fontColor: #ffffff;
  --headingPrimColor: #009688;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*,
*:before,
*::after {
  box-sizing: inherit;
}

body {
  background-color: var(--primmary);
  margin: 0 auto;
}

header {
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: #082032;
  padding: 2.5rem 2.5rem;
}

.title {
  width: 100%;
}

header p {
  margin: 0;
  text-align: center;
  font-size: 2.5rem;
  color: var(--headingPrimColor);
  font-family: "Arvo", serif;
}

h2 {
  text-align: center;
  font-size: 4rem;
  color: var(--fontColor);
}

.searchBar {
  display: flex;
  justify-content: center;
  width: 85%;
  margin: auto;
}

#search {
  padding: 2rem;
  height: 4rem;
  font-size: 1.8rem;
  border-radius: 2rem;
  background-color: #334756;
  color: white;
  width: 75%;
}

.grid-fluid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  width: 90%;
  grid-column-gap: 4rem;
  row-gap: 4rem;
  margin: 5rem auto;
}

.grid-fluid p {
  text-align: justify;
  font-size: 1.8rem;
  padding-bottom: 2rem;
  color: var(--fontColor);
  font-family: "Atkinson Hyperlegible", sans-serif;
}

.grid-fluid h3 {
  font-size: 3rem;
  text-align: center;
  font-family: "Kanit", sans-serif;
  color: #2f2519;
}

.grid-fluid img {
  display: block;
  margin: auto;
  max-width: 100%;
  max-height: auto;
}

.grid-fluid div {
  text-align: center;
  font-size: 1.8rem;
  color: var(--fontColor);
}

.loader {
  display: block;
  margin: auto;
}

.show {
  background-color: var(--secondary);
  border-radius: 3rem;
  padding-bottom: 3rem;
  padding-left: 3rem;
  padding-right: 3rem;
  transition: all 0.3s ease-out;
}

.show:hover {
  background-color: var(--secondaryHover);
  transform: scale(1.03);
}

@media (min-width: 768px) {
  .grid-fluid {
    grid-template-columns: repeat(auto-fit, minmax(60rem, 1fr));
  }

  .header p {
    font-size: 5rem;
  }

  header {
    display: flex;
    place-items: center;
    justify-content: space-around;
  }

  .title {
    width: 30%;
  }
}
